<div class="container pt-3">
  <section>
    <div class="m-5 mb-3 pb-4 border-bottom border-top">
      <span><h3 class="m-4 ms-6" style="letter-spacing: 2px;">Result: {{key}}</h3></span>
      <div class="row ps-3">
    {{#each products}}
        <div class="col-xxl-3 col-xl-4 col-md-6 col-sm-12 ps-2 pe-0">
          <div class="card mt-2 ms-2" style="height: 26rem;">
            <div
              class="bg-image hover-overlay ripple"
              data-mdb-ripple-color="light"
            >
              <img
                src="{{image}}"
                class="img-fluid product-img"
              />
              <a href="/products/detail/{{_id}}">
                <div
                  class="mask"
                  style="background-color: rgba(251, 251, 251, 0.15);"
                ></div>
              </a>
            </div>
            <div class="card-body">
              <h5 class="card-title fs-6">{{name}}</h5>
              <p
                class="card-text text-truncate description"
                style="max-width: 18rem;"
              >{{description}}</p>
              <div class="row">
                <div class="col-6">
                  <h6 class="price">${{price}}</h6>
                </div>
                <div class="col-3">
                  <a href="#!" class="btn btn-warning"><i
                      class="fa fa-cart-plus"
                      aria-hidden="true"
                    ></i>
                    Buy Now</a>
                </div>
              </div>
            </div>
          </div>
        </div>
{{/each}}
      </div>
    </div>
  </section>
</div>